extends layout
block head 
  link(href='http://fonts.googleapis.com/css?family=Give+You+Glory' rel='stylesheet' type='text/css')    
  link(href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css')
  link(rel='stylesheet', type='text/css', href='homepage/homepage.css')
block content
  body
    .messages #{error}
    .dropdown.login
      button#login-drop.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
        | Log in
        span.caret
      form.dropdown-menu.dropdown-menu-right(action='signin', method='post',role='menu form', aria-labelledby='dropdownMenu1')
        .form-group
          label.sr-only(for='userName') User Name
          input#userName.form-control(name='username',type='text', placeholder='User Name',value='jgates3255')
        .form-group
          label.sr-only(for='exampleInputPassword2') Password
          input#exampleInputPassword2.form-control(name='password',type='password', placeholder='Password',value='hello')
        button.sign-in.btn.btn-default(type='submit', value='sign in')  Submit
    .container
      .row.content-body
        .col-sm-12
          .jumbotron.col-sm-12
            h1.test 
              | MyCloset
            h3  Sign on up! 
            //- p.jumbo-blurb
            //-   | MyCloset allows you to organize and view your personal clothing inventory. Select an item and receive recommendations to pair together to complete your look. 
        form.form.col-sm-6(action='/usersignup', method='post',role='form')
          .form-group
            label.sr-only(for='first-name') First Name
            input#first-Name.form-control(name='firstname',type='first-name', placeholder='First Name')
          .form-group
            label.sr-only(for='lastName') Last Name
            input#lastName.form-control(name='lastname',type='last-name', placeholder='Last Name')
          .form-group
            .input-group
              input.form-control(name='email',type='email', placeholder='Enter email')
          .form-group
            label.sr-only(for='userName') User Name
            input#userName.form-control(name='username',type='user-name', placeholder='User Name')
          .form-group
            label.sr-only(for='exampleInputPassword2') Password
            input#exampleInputPassword2.form-control(name='password',type='password', placeholder='Password')
          button.sign-up.btn.btn-default(type='submit') Sign up!
        .roundimage.col-sm-6
          img.img-responsive.img-circle(src='http://cindydanielrealestate.files.wordpress.com/2013/10/making-the-most-of-your-bedroom-closet-space.jpg', alt='Responsive image')
          p.photo-blurb
            | MyCloset allows you to organize and view your personal clothing inventory. Select an item and receive recommendations to pair together to complete your look. Paired with your favorite Etsy shop, you'll never miss an opportunity to expand your wardrobe and outfit possibilites. 
    script(src='homepage/homepage.js')
