extends layout
block head
  link(href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here|Shadows+Into+Light+Two|Sacramento&subset=latin,latin-ext', rel='stylesheet', type='text/css')    
  link(rel='stylesheet', type='text/css', href='/mainpage/main.css')
block content 
      .messages #{error}
      a.btn.btn-info.logoutbtn(href="/logout")  Log Out
      div
        h1.appName   App Name Here   
      .container
        .row
          #accordion.panel-group.col-md-4
            #panelbackground.panel.panel-default
              #panel-heading.panel-heading
                h4.panel-title
                  a(class="categoryType",data-type="tops", data-toggle="collapse", data-parent="#accordion", href="#tops")
                    | Tops -
              #tops.panel-collapse.collapse.in
                .panel-body
                  ul
                    li
                      a.selectedCategory(href='#', data-type='tank')  Tanks 
                    li
                      a.selectedCategory(href='#', data-type='long-sleeve')  Long Sleeve 
                    li
                      a.selectedCategory(href='#', data-type='short-sleeve')  Short Sleeve 
            #panelbackground.panel.panel-default
              #panel-heading.panel-heading
                h4.panel-title
                  a(class="categoryType",data-type="bottoms", data-toggle='collapse', data-parent='#accordion', href='#bottoms')
                    | Bottoms -
              #bottoms.panel-collapse.collapse
                .panel-body
                  ul
                    li
                      a.selectedCategory(href='#', data-type='pants')  Pants 
                    li
                      a.selectedCategory(href='#', data-type='shorts')  Shorts 
                    li
                      a.selectedCategory(href='#', data-type='skirts')  Skirts 
            #panelbackground.panel.panel-default
              #panel-heading.panel-heading
                h4.panel-title
                  a(class="categoryType",data-type="dresses",data-toggle='collapse', data-parent='#accordion', href='#dresses')
                    | Dresses -
              #dresses.panel-collapse.collapse
                .panel-body
                  ul
                    li
                      a.selectedCategory(href='#', data-type='short-dress')  Short 
                    li
                      a.selectedCategory(href='#', data-type='long-dress')  Long 
            #panelbackground.panel.panel-default
              #panel-heading.panel-heading
                h4.panel-title
                  a(class="categoryType",data-type="outerwear",data-toggle='collapse', data-parent='#accordion', href='#outerwear')
                    | Outerwear -
              #outerwear.panel-collapse.collapse
                .panel-body
                  ul
                    li
                      a.selectedCategory(href='#', data-type='coats')  Coats
                    li
                      a.selectedCategory(href='#', data-type='jackets')  Jackets 
            #panelbackground.panel.panel-default
              #panel-heading.panel-heading
                h4.panel-title
                  a(class="categoryType",data-type="accessories",data-toggle='collapse', data-parent='#accordion', href='#accessories')
                    | Accessories -
              #accessories.panel-collapse.collapse
                .panel-body
                  ul
                    li
                      a.selectedCategory(href='#', data-type='bags')  Bags 
                    li
                      a.selectedCategory(href='#', data-type='scarvesandbelts')  Scarves & Belts
                    li
                      a.selectedCategory(href='#', data-type='jewelry')  Jewelry 
            #panelbackground.panel.panel-default
              #panel-heading.panel-heading
                h4.panel-title
                  a(class="categoryType",data-type="shoes",data-toggle='collapse', data-parent='#accordion', href='#shoes')
                    | Shoes -
              #shoes.panel-collapse.collapse
                .panel-body
                  ul
                    li
                      a.selectedCategory(href='#', data-type='heels')  Heels 
                    li
                      a.selectedCategory(href='#', data-type='flats')  Flats
                    li
                      a.selectedCategory(href='#', data-type='sandals')  Sandals 
                    li
                      a.selectedCategory(href='#', data-type='boots')  Boots 
            //
               add item bar here....................................... 
            #panelbackground.panel.panel-default
              #panel-heading.panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#addNewItem')
                    | Add New Item -
              #addNewItem.panel-collapse.collapse.in
                .panel-body
                  form.form-inline.newItemForm(action='additem',method='post',role='form')
                    .form-group
                      label.sr-only(for='nameNewMyItem')  name your new item!
                      | Name:
                      input#nameNewItem.form-control.newItemName(name='itemname',type='text', placeholder='name your new item!', required='required')
                    //
                       <button type="button" class="btn btn-info">add name</button> 
                    //
                         </form> 
                    .dropdown()
                      select.form-control.newItemCategory(class="selectpicker",name='category', type='text',required='required')
                        option(value='') -- Category --
                        option(value='tops')  Tops 
                        option(value='bottoms')  Bottoms 
                        option(value='dresses')  Dresses 
                        option(value='outerwear') Outerwear
                        option(value='accessories') Accessories
                        option(value='shoes') Shoes
                    .dropdown
                      select.form-control.newItemType(name='itemtype', type='text', required='required')
                        option(value='') -- Type --
                        option(value='tank') tops - Tanks 
                        option(value='short-sleeve')  tops - Short Sleeve 
                        option(value='long-sleeve') tops - Long Sleeve 
                        option(value='pants')  bottoms - Pants
                        option(value='shorts')  bottoms - Shorts 
                        option(value='skirt') bottoms - Skirts  
                        option(value='short-dress')  dresses - Short 
                        option(value='long-dress')  dresses - Long
                        option(value='coats') outerwear - Coats
                        option(value='jackets') outerwear - Jackets
                        option(value='jewelry') accessories - Jewelry
                        option(value='scarvesandbelts') accessories - Scarves & Belts
                        option(value='bags') accessories - Bags
                        option(value='heels') shoes - Heels
                        option(value='flats') shoes - Flats
                        option(value='sandals') shoes - Sandals
                        option(value='boots') shoes - Boots
                    .dropdown
                      select.form-control.newItemColor(name='color',type='text', required='required')
                        option(value='') --Color --
                        option(value='red')  Red 
                        option(value='orange')  Orange 
                        option(value='yellow')  Yellow 
                        option(value='green')  Green 
                        option(value='blue')  Blue 
                        option(value='purple')  Purple 
                        option(value='pink')  Pink 
                        option(value='gray') Gray
                        option(value='cream')  Cream 
                        option(value='denim')  Denim 
                        option(value='beige')  Beige 
                        option(value='white')  White 
                        option(value='black')  Black
                        option(value='silver') Silver
                        option(value='gold') Gold 
                      .form-group
                        label.sr-only(for='new image')  New item image 
                        | New Image:
                        input#newItemImg.form-control.newItemImg(name='itemimg',type='text', placeholder='image URL', required='required')
                      button.newItemSubmit.btn.btn-info(name='additem',type='submit')  Add Item 
            #panelbackground.panel.panel-default
              #panel-heading.panel-heading
                h4.panel-title
                  a(class="etsyShop",data-type="etsyShop",data-toggle='collapse', data-parent='#accordion', href='#etsyShop')
                    | Etsy Shops -
              #etsyShop.panel-collapse.collapse
                .panel-body
                  ul
                    li
                      a.etsyShopItem(href='#')                    
          #catalogItems.photoContainer.col-md-8
            | Selected Items:
            .row
            button.btn.btn-success.view-all(type='button') View all items 
block scripts
  script.
    var items = !{JSON.stringify(items)};
  script(type='text/javascript', src='mainpage/main.js')